{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },

  "settings": {
    "react": {
      "version": "detect"
    },
    "indent": ["error", 2],
    "comma-dangle": ["error", "never"]
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "no-use-before-define": 1,
    "react/forbid-prop-types": 0
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
